mixin parsing-aside()
  #accordion.parsing-aside__body
    .parsing-aside__accordion 
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem1" aria-expanded="false" aria-controls="parsingSubitem1") Источник 1
      .parsing-aside__subitems.collapse#parsingSubitem1(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem2" aria-expanded="true" aria-controls="parsingSubitem2") Источник 2
      .parsing-aside__subitems.collapse#parsingSubitem2.show(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem3" aria-expanded="false" aria-controls="parsingSubitem3") Источник 3
      .parsing-aside__subitems.collapse#parsingSubitem3(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem4" aria-expanded="false" aria-controls="parsingSubitem4") Источник 4
      .parsing-aside__subitems.collapse#parsingSubitem4(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem5" aria-expanded="false" aria-controls="parsingSubitem5") Источник 5
      .parsing-aside__subitems.collapse#parsingSubitem5(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem6" aria-expanded="false" aria-controls="parsingSubitem6") Источник 6
      .parsing-aside__subitems.collapse#parsingSubitem6(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem7" aria-expanded="false" aria-controls="parsingSubitem7") Источник 7
      .parsing-aside__subitems.collapse#parsingSubitem7(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem8" aria-expanded="false" aria-controls="parsingSubitem8") Источник 8
      .parsing-aside__subitems.collapse#parsingSubitem8(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem9" aria-expanded="false" aria-controls="parsingSubitem9") Источник 9
      .parsing-aside__subitems.collapse#parsingSubitem9(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem10" aria-expanded="false" aria-controls="parsingSubitem10") Источник 10
      .parsing-aside__subitems.collapse#parsingSubitem10(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem11" aria-expanded="false" aria-controls="parsingSubitem11") Источник 11
      .parsing-aside__subitems.collapse#parsingSubitem11(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem12" aria-expanded="false" aria-controls="parsingSubitem12") Источник 12
      .parsing-aside__subitems.collapse#parsingSubitem12(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem13" aria-expanded="false" aria-controls="parsingSubitem13") Источник 13
      .parsing-aside__subitems.collapse#parsingSubitem13(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 
    .parsing-aside__accordion   
      .parsing-aside__item(data-toggle="collapse" data-target="#parsingSubitem14" aria-expanded="false" aria-controls="parsingSubitem14") Источник 14
      .parsing-aside__subitems.collapse#parsingSubitem14(data-parent="#accordion")
        .parsing-aside__subitem Раздел 1
        .parsing-aside__subitem Раздел 2
        .parsing-aside__subitem Раздел 3
        .parsing-aside__subitem Раздел 4
        .parsing-aside__subitem Раздел 5
        .parsing-aside__subitem Раздел 6
        .parsing-aside__subitem Раздел 7 