mixin parsing-body()
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox" checked)
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
  .row.parsing-body__row
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p Заголовок
    .col.parsing-body__column
      .parsing-body__item 
        p.parsing-body__item-p купить мужские туфли в Украине
    .col-6.parsing-body__column
      .parsing-body__item.parsing-body__item_justify-start 
        p.parsing-body__item-p это текст-"рыба", часто используемый в печати и вэб-дизайне
    .col.parsing-body__column.parsing-body__column_small
      .parsing-body__item.parsing-body__item_bg-transparent
        label(for="" class="checkbox-label")
          input(type="checkbox" class="mycheckbox")
          span(class="checkbox-custom")
